* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: wheat;
}

.gallery {
  width: 1500px;
  display: flex;
  overflow-x: scroll;
}

.gallery .image-container {
  width: 100%;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 20px;
  padding: 20px;
  flex: none;
}

.gallery .image-container img {
  width: 480px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.5);
  filter: grayscale(100);
  cursor: pointer;
  transition: all 0.5s;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}

.back-btn,
.next-btn {
  height: 50px;
  cursor: pointer;
}

.gallery .image-container img:hover {
  filter: grayscale(0);
  /* transform: scale(1.1); */
}